QFrame#Banner{
    background-image: url(:/images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
}

QFrame#CentralWidget{
    background-color: dark_tint_rgb;
}

QMenuBar#MenuBar{
    background-color: dark_tint_rgb;
}